.priority-role-drag {
    padding: 8px 10px;
    border-radius: 4px;
    color: #d6d6d6;
    background-color: rgba(40, 43, 48,1);
    pointer-events: auto;
    box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 2px 4px 2px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 6px;
    white-space: nowrap;
}

.priority-role-drop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 0px;
    background-color: #363940;
    border: 1px solid #464646;
    min-height: 20px;
}

.priority-row-handle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: grab;
    padding: 10px 2px;
}

.priority-row-space {
    flex: 1;
    align-self: stretch;
    cursor: grab;
}

.priority-row-options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.priority-role-drop .priority-row-options .hovering {
    opacity: 0;
    pointer-events: none;
}
.priority-role-drop:hover .priority-row-options .hovering {
    opacity: 1;
    pointer-events: all;
    animation: fadein 0.4s;
    -webkit-animation: fadein 0.4s;
}