.priority-role-drag {
    padding: 8px 10px;
    border-radius: 4px;
    color: #d6d6d6;
    background-color: rgba(40, 43, 48,1);
    pointer-events: auto;
    box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 2px 4px 2px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 4px;
    white-space: nowrap;
}

.priority-role-drop {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 16px;
}

.priority-gutter-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid #464646;
    cursor: grab;
    position: relative;
}

.priority-row .priority-gutter-add .hovering {
    display: none;
    animation: fadein 0.4s;
    -webkit-animation: fadein 0.4s;
}
.priority-row:hover .priority-gutter-add .hovering {
    display: block;
}

.priority-row {
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    background-color: #363940;
    border: 1px solid #464646;
    z-index: 2;
}