.event-color-drag {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 1.6em;
    width: 1.6em;
    border-radius: 2px;
    margin-right: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.event-color-drag:hover {
    border: 2px solid #ddd;
}

.dashboard-input {
    border: none;
    padding: 10px 10px;
    font: 450 14px Segoe UI;
    color: #c6c6c6;
    cursor: pointer;
    background-color: transparent;
    cursor: text;
    width: 100%;
    overflow-y: hidden;
    resize: none;
}

.dashboard-input:focus {
    outline: none;
}

.empty-text {
    padding: 4px 15px;
    color: #666666;
    font: 500 13px Segoe UI;
}