.page-header {
    position: sticky;
    top: 0;
    border-radius: 4px;
    z-index: 4;
    min-height: 1.7em;
}

.page-header-button {
    padding: 6px 10px;
    border-radius: 4px;
    font: 500 14px Segoe UI;
    color: #d6d6d6;
    cursor: pointer;
    align-items: center;
}

.page-header-button:hover {
    background-color: hsla(0,0%,100%,.1);
    color: #fff;
}

.page-header-error {
    padding: 0px 0.5em;
    font: 500 12px Segoe UI;
    color: #db4757;
}