.role-modal {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadein 0.25s;
    -webkit-animation: fadein 0.25s;
    background-color: rgba(10, 10, 10, 0.4);
}

.role-view {
    display: flex;
    flex-direction: column;
    animation: slideinfrombottom 0.25s;
    -webkit-animation: slideinfrombottom 0.25s;
}

.role-header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(32, 34, 37, 1);
    align-items: center;
    box-shadow: 0 3px 5px rgba(37, 33, 32, 0.3);
    padding: 12px 0px;
    cursor: pointer;
    color: #ddd;
}

.role-header-close {
    font-size: 26px;
    margin-left: auto;
    margin-right: 12px;
    color: #aaa;
}

.role-header-input {
    display: block;
    font: 600 18px Segoe UI;
    width: 50%;
    margin-right: auto;
    border: none;
    cursor: text;
    background-color: transparent;
    color: #ddd;
    padding: 1px 0px;
}
.role-header-input:focus {
    outline: none;
    border-bottom: 1px solid #aaa;
    padding: 1px 16px 0px 16px;
}

.role-header-title {
    font: 600 18px Segoe UI;
    padding: 1px 8px 1px 16px;
}

.role-grid {
    padding: 0px 16px;
}

.role-grid-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.role-grid-buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.role-grid-button {
    display: flex;
    align-items: center;
    padding: 2px 12px 2px 6px;
    margin-left: 6px;
    border-radius: 8px;
    font: 700 18px Segoe UI;
    letter-spacing: -0.2px;
    color: #bbb;
    cursor: pointer;
}
  
.role-grid-button:hover {
    background-color: hsla(0,0%,100%,.1);
}

.role-grid-title {
    font: 700 20px Segoe UI;
    line-height: 50px;
    letter-spacing: -0.6px;
    color: #bbb;
}

.role-grid-item {
    display: flex;
    flex-direction: column;
    float: left;
    width: 20vw;
    height: 10vw;
    border-radius: 6px;
    color: #fff;
    line-height: 1.2;
    font: 700 21px Segoe UI;
    letter-spacing: -0.3px;
    cursor: pointer;
    margin-right: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(40, 43, 48, 1);
    box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 2px 4px 2px;
}

.role-grid-item-title {
    font: 600 17px Segoe UI;
    color: #bbb;
    padding: 14px 14px;
    margin-right: auto;
    cursor: pointer;
    max-width: 60%;
}