.story-view {
    height: calc(100vh - 76px);
    width: calc(100vw - 208px);
    padding: 0px 2px 2px 8px;
    overflow: auto;
    transition: color 0.3s;
    color: rgba(54, 57, 64, 1);
    background-color: rgba(54, 57, 64);
}

.story-view:hover {
    color: rgba(32, 34, 37, 1);
}

.story-view::-webkit-scrollbar {
    width: 16px;
}

.story-view::-webkit-scrollbar-thumb {
	background-clip: content-box;
    background: rgba(32, 34, 37, 1);
    border-radius: 8px;
    border: 4px rgba(54, 57, 64, 1) solid;
	box-shadow: inset 0 0 0 10px;
}
.footer {
    background-color: hsla(0,0%,100%,.1);
    margin-top: auto;

    padding: 8px 8px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial;
    color: #fff;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.story-title {
    padding: 2px 2px;
    color: #fff;
    font-size: 14px;
    pointer-events: auto;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.story-tag {
    padding: 12px 10px;
    border-radius: 4px;
    color: #d6d6d6;
    background-color: rgba(40, 43, 48,1);
    font: 550 14px Arial;
    pointer-events: auto;
    line-height: 1.2;
    box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 2px 4px 2px;
    margin-bottom: 8px;
}

.story-empty {
    color: #919191;
    font-size: 13px;
    padding: 8px 2px;
}

.scrollable-x {
    overflow: auto;
    transition: color 0.3s;
    color: rgba(47, 49, 54);
}

.scrollable-x:hover {
    color: rgba(32, 34, 37, 1);
}

.scrollable-x::-webkit-scrollbar {
    height: 16px;
}

.scrollable-x::-webkit-scrollbar-thumb {
	background-clip: content-box;
    background: rgba(32, 34, 37, 1);
    border-radius: 8px;
    border: 4px rgba(54, 57, 64, 1) solid;
	box-shadow: inset 0 0 0 10px;
}

.story-option {
    color: #a6a6a6;
    padding: 0px 6px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    height: 20px;
}

.story-option:hover {
    background-color: hsla(0,0%,100%,.1)
}

.drop-down-menu {
    position: fixed;
    background-color: rgba(54, 57, 64, 1);
    border-radius: 4px;
    min-width: 160px;
    padding: 8px 0px;
    z-index: 1;

    animation: fadein 0.2s, scalein 0.2s;
    -webkit-animation: fadein 0.2s, scalein 0.2s;
    box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 2px 4px 2px;
    color: #b6b6b6;
    font: 520 14px Arial;
}

.drop-down-menu-option {
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.drop-down-menu-option:hover {
    background-color: hsla(0,0%,100%,.1);
}

.drop-down-menu-separator {
    height: 0.5px;
    margin: 8px 0px;
    background-color: #464646;
}

.drop-down-menu-icon {
    font-size: 17px;
    color: #b6b6b6;
    width: 30px;
    text-align: center;
}