.footer {
    background-color: hsla(0,0%,100%,.1);
    margin-top: auto;

    padding: 8px 8px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial;
    color: #fff;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.story-title {
    padding: 2px 0px;
    color: #d6d6d6;
    font-size: 14px;
    pointer-events: auto;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
}

.story-tag {
    padding: 12px 10px;
    border-radius: 4px;
    color: #d6d6d6;
    background-color: rgba(40, 43, 48,1);
    font-size: 14px;
    pointer-events: auto;
}