.assign-var-tag {
    padding: 6px 12px;
    border-radius: 4px;
    font: 500 13px Arial;
    color: #fff;
    background-color: #272727;
    margin-right: 6px;
    cursor: pointer;
}

.basic-op {
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid #888;
    font: 500 13px Arial;
    color: #d6d6d6;
    background-color: #272727;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.basic-op-op {
    border-radius: 4px;
    padding: 0px 8px;
    font: 300 16px Arial;
}

.basic-op-bubble {
    padding: 3px 6px 3px 6px;
    border-radius: 4px;
    font: 300 12px Arial;
    color: #d6d6d6;
    background-color: rgba(60, 63, 68,1);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}