.drop-down-menu {
    position: fixed;
    background-color: rgba(54, 57, 64, 1);
    border-radius: 4px;
    min-width: 160px;
    padding: 8px 0px;
    z-index: 7;

    animation: fadein 0.2s, scalein 0.2s;
    -webkit-animation: fadein 0.2s, scalein 0.2s;
    box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 2px 4px 2px;
    color: #b6b6b6;
    font: 520 14px Arial;
}

.drop-down-menu-autow {
    position: fixed;
    background-color: rgba(54, 57, 64, 1);
    border-radius: 4px;
    padding: 8px 0px;
    z-index: 7;

    animation: fadein 0.2s, scalein 0.2s;
    -webkit-animation: fadein 0.2s, scalein 0.2s;
    box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 2px 4px 2px;
    color: #b6b6b6;
    font: 520 14px Arial;
}

.drop-down-menu-option {
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.drop-down-menu-option:hover {
    background-color: hsla(0,0%,100%,.1);
}

.drop-down-menu-separator {
    height: 0.5px;
    margin: 8px 0px;
    background-color: #464646;
}

.page-separator {
    height: 2px;
    background-color: #666;
}

.drop-down-menu-icon {
    font-size: 17px;
    width: 30px;
    text-align: center;
}

.tag-input {
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    font: 450 14px Arial;
    color: #c6c6c6;
    cursor: pointer;
    background-color: rgba(37, 39, 44, 1);
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    z-index: 1;
    margin: 0px 10px;
}

.tag-input:focus {
    outline: none;
    cursor: text;
}