.drop-down-pause {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 3;
}

.drop-down-menu {
    position: fixed;
    background-color: rgba(54, 57, 64, 1);
    border-radius: 4px;
    min-width: 160px;
    overflow-y: auto;
    padding: 8px 0px;
    user-select: none;
    animation: fadein 0.4s, scalein 0.2s;
    -webkit-animation: fadein 0.4s, scalein 0.2s;
    box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 2px 4px 2px;
    color: #b6b6b6;
    font: 520 14px Segoe UI;
}

.drop-down-menu-option {
    padding: 6px 15px 6px 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #b6b6b6;
}

.drop-down-menu-submit {
    padding: 0px 10px 0px 6px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #b6b6b6;
    margin-right: 8px;
    border-radius: 2px;
}

.drop-down-empty {
    padding: 6px 15px 6px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #969696;
}

.drop-down-icon-only {
    padding: 6px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #b6b6b6;
    width: 50%;
}

.drop-down-menu-option[chosen=true] {
    color: #fff;
}
.drop-down-menu-option[origin=true] {
    background-color: hsla(0,0%,100%,.1);
}
.drop-down-menu-option:hover,
.drop-down-menu-submit:hover {
    background-color: hsla(0,0%,100%,.1);
}

.page-separator {
    height: 2px;
    background-color: #666;
}

.drop-down-menu-icon {
    font-size: 17px;
    width: 20px;
    text-align: center;
    margin-right: 5px;
    pointer-events: none;
}

.tag-input {
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    font: 450 14px Segoe UI;
    color: #c6c6c6;
    cursor: pointer;
    background-color: rgba(37, 39, 44, 1);
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    margin: 0px 10px;
    cursor: text;
}
.tag-input[type=number] {
    width: 120px;
}
.tag-input:focus {
    outline: none;
}

.drop-down-scrollable {
    max-height: 200px;
    overflow: auto;
}

.drop-down-title {
    font: 600 12px Segoe UI;
    color: #777;
    letter-spacing: 0.6px;
    padding: 4px 4px;
    text-transform: uppercase;
}

.drop-click {
    cursor: pointer;
}
.drop-click:hover {
    filter: brightness(120%);
}
.drop-click * {
    pointer-events: none;
}