@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideinbottom {
    from { transform: translateY(10px); }
    to   { transform: translateY(0px); }
}

@keyframes slideintop {
    from { transform: translateY(-10px); }
    to   { transform: translateY(0px); }
}

@keyframes slideinleft {
    from { transform: translateX(-10px); }
    to   { transform: translateX(0px); }
}

@keyframes slideinright {
    from { transform: translateX(10px); }
    to   { transform: translateX(0px); }
}

@keyframes scalein {
    from { transform: scale(0.8); }
    to   { transform: scale(1); }
}

@keyframes slideinfrombottom {
    from { transform: translateY(50px); }
    to   { transform: translateY(0px); }
}

@keyframes heightin {
    from { max-height: 10px; }
    to   { max-height: 1000px; }
}

@keyframes itemin {
    from { max-height: 1px; }
    to   { max-height: 150px; }
}

.-blur {
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
}
.--slide-bottom {
    animation: fadein 0.4s, slideinbottom 0.2s;
    -webkit-animation: fadein 0.4s, slideinbottom 0.2s;
}
.--slide-left {
    animation: fadein 0.4s, slideinleft 0.2s;
    -webkit-animation: fadein 0.4s, slideinleft 0.2s;
}
.--slide-right {
    animation: fadein 0.4s, slideinright 0.2s;
    -webkit-animation: fadein 0.4s, slideinright 0.2s;
}
.--slide-top {
    animation: fadein 0.4s, slideintop 0.2s;
    -webkit-animation: fadein 0.4s, slideintop 0.2s;
}