.underline-button {
    padding: 8px 26px;
    font: 500 14px Arial;
    color: #fff;
    cursor: pointer;
}

.underline-button:hover {
    text-decoration: underline;
}

.modal-button {
    padding: 8px 16px;
    border-radius: 4px;
    font: 500 14px Arial;
    color: #fff;
    cursor: pointer;
    background-color: rgb(66, 70, 80);
}

.delete-button {
    padding: 8px 16px;
    border-radius: 4px;
    font: 500 14px Arial;
    color: #fff;
    cursor: pointer;
    background-color: #db4757;
}

.delete-button:hover {
    background-color: #cb3757;
}

.cute-button {
    padding: 6px 12px;
    border-radius: 4px;
    font: 500 14px Arial;
    color: #fff;
    cursor: pointer;
    background-color: rgba(40, 43, 48,1);
}

.cute-button:hover {
    background-color: hsla(0,0%,100%,.1);
}

.path-view {
    font: 400 15px Arial;
}

.path-button {
    animation: fadein 0.25s;
    -webkit-animation: fadein 0.25s;
    
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.path-button:hover {
    background-color: hsla(0,0%,100%,.1);
}

.tag-button {
    border-radius: 2px;
    padding: 0px 10px;
    background-color: hsla(0,0%,100%,.1);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    max-height: 20px;
    align-self: center;
}

.add-button {
    border-radius: 2px;
    padding: 6px 10px;
    background-color: hsla(0,0%,100%,.1);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    max-width: 80px;
    font: 600 14px Arial;
}