.palette-blue {
    background-color: #0e7db4;
}
.palette-yellow {
    background-color: #af8c40;
}
.palette-green {
    background-color: #1e9939;
}
.palette-red {
    background-color: #db4757;
}

.light-grey {
    background-color: hsla(0,0%,100%,.1);
}
.background-grey {
    background-color: rgba(54, 57, 64, 1);
}
.dark-grey {
    background-color: rgba(47, 49, 54, 1);
}
.black-grey {
    background-color: rgba(32, 34, 37, 1);
}
.--grey27 {
    background-color: #272727
}
.--grey66{
    background-color: #666666
}
.--var{
    background-color: #18449b
}
.-active {
    background-color: #6279CA
}