.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-nowrap {
    display: flex;
    flex-direction: row;
}

.row-centered {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.add-role-icon {
    font-size: 18px;
    color: #fff;
    align-self: center;
    margin-right: 8px;
}

.highlight:hover {
    background-color: hsla(0,0%,100%,.1);
    cursor: pointer;
}