.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-nowrap {
    display: flex;
    flex-direction: row;
}

.row-centered {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.add-role-icon {
    font-size: 18px;
    color: #fff;
    align-self: center;
    margin-right: 8px;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.common-bubble {
    color: #d6d6d6;
    border-radius: 4px;
    padding: 2px 6px;
    font: 300 13px Arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.common-cont {
    color: #d6d6d6;
    border-radius: 4px;
    padding: 4px 8px;
    font: 300 13px Arial;
    display: inline-block;
}

.small-icon {
    color: #d6d6d6;
    font-size: 13px;
    pointer-events: none;
}
div[chosen=true] > .mdi-check {
    opacity: 1;
}
.mdi-check {
    opacity: 0;
    margin-left: auto;
    padding-left: 10px;
    text-align: center;
}
.mdi-play {
    margin-left: auto;
    padding-left: 10px;
    text-align: center;
}
.adjust-right {
    margin-left: auto;
}

.border-right {
    border-right: 1px solid #464646;
}
.-b-r {
    border-right: 1px solid #464646;
}
.-b-t {
    border-top: 1px solid #464646;
}

.-sep {
    height: 1px;
    margin: 8px 0px;
    background-color: #464646;
}
.-x-p {
    padding-left: 10px;
    padding-right: 10px;
}
.-x-m {
    margin-left: 10px;
    margin-right: 10px;
}
.-y-p {
    padding-top: 10px;
    padding-bottom: 10px;
}
.-y-m {
    margin-top: 10px;
    margin-bottom: 10px;
}
.-t-m {
    margin-top: 10px;
}