.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row-centered {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mdi-play {
    margin-left: auto;
    padding-left: 10px;
    text-align: center;
}
.autocap {
  text-transform: capitalize;
}

.border-right {
    border-right: 1px solid #464646;
}

.-sep {
    height: 1px;
    margin: 8px 0px;
    background-color: #464646;
}

.-t-m {
    margin-top: 10px;
}