.story-view {
    display: flex;
    flex-direction: row;
    flex: 1;
    color: rgba(54, 57, 64, 1);
    background-color: rgba(54, 57, 64);
}

.story-view:hover {
    color: rgba(32, 34, 37, 1);
}

.story-view::-webkit-scrollbar {
    width: 16px;
}

.story-view::-webkit-scrollbar-thumb {
	background-clip: content-box;
    background: rgba(32, 34, 37, 1);
    border-radius: 8px;
    border: 4px rgba(54, 57, 64, 1) solid;
	box-shadow: inset 0 0 0 10px;
}

.scrollable-x {
    overflow: auto;
    transition: color 0.3s;
    color: rgba(47, 49, 54);
}

.scrollable-x:hover {
    color: rgba(32, 34, 37, 1);
}

.scrollable-x::-webkit-scrollbar {
    height: 16px;
}

.scrollable-x::-webkit-scrollbar-thumb {
	background-clip: content-box;
    background: rgba(32, 34, 37, 1);
    border-radius: 8px;
    border: 4px rgba(54, 57, 64, 1) solid;
	box-shadow: inset 0 0 0 10px;
}