.add-role-input {
    background-color: hsla(0,0%,100%,.1);
    border: none;
    height: 28px;
    transition: width .2s ease-out .1s;
    position: relative;
    width: calc(100% - 14px);
    padding: 4px 7px;
    line-height: 16px;
    font: 400 13.3333px Arial;
    border-radius: 3px;
    color: #f6f6f7;
}

.add-role-input:focus {
    outline: none;
}

.blur-item {
    background-color: hsla(0,0%,100%,.1);
    height: 28px;
    position: relative;
    width: calc(100% - 14px);
    padding: 4px 7px;
    line-height: 16px;
    font: 400 13.3333px Arial;
    border-radius: 3px;
    color: #d6d6d7;
    display: flex;
    align-items: center;
}