.field-title-input {
    border: none;
    background-color: transparent;
    padding: 4px 7px;
    font: 500 18px Arial;
    color: #d6d6d7;
}

.field-title-input:focus {
    outline: none;
}

.field-icon {
    color: #ddd;
    padding: 0px 6px;
    display: flex;
    justify-content: center;
}

.field-label {
    font: 600 15px Arial;
    letter-spacing: .1px;
    color: #a6a6a6;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.field-view-code {
    font: 500 13px Arial;
    color: #a6a6a6;
    cursor: pointer;
    margin-left: auto;
}

.field-call-input {
    border: none;
    background-color: rgba(54, 57, 64);
    padding: 2px 7px;
    font: 600 15px Arial;
    color: #aaa;
}

.field-call-input:focus {
    outline: none;
}

.field-text-input {
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    margin: 0px 4px;
    font: 450 14px Arial;
    color: #c6c6c6;
    width: calc(100% - 28px);
    outline: none;
    background-color: rgba(47, 49, 54, 1);
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    cursor: text;
    resize: vertical;
}

.field-number-input {
    border: none;
    border-radius: 2px;
    padding: 6px 6px;
    margin: 2px 8px;
    font: 450 14px Arial;
    color: #c6c6c6;
    width: 50px;
    outline: none;
    background-color: rgba(47, 49, 54, 1);
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    cursor: text;
    text-align: center;
}

.field-time-input {
    border: none;
    padding: 10px 10px;
    font: 450 14px Arial;
    color: #c6c6c6;
    width: 60px;
    outline: none;
    background-color: rgba(47, 49, 54, 1);
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px;
    cursor: text;
    text-align: center;
}

.field-tag {
    padding: 6px 12px;
    border-radius: 4px;
    font: 500 13px Arial;
    color: #fff;
    background-color: #282b30;
    cursor: pointer;
    margin-right: 6px;
}

.field-number-inc {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}