.field-title-input {
    border: none;
    background-color: transparent;
    padding: 4px 7px;
    font: 500 18px Arial;
    color: #d6d6d7;
}

.field-title-input:focus {
    outline: none;
}

.field-icon {
    color: #ddd;
    padding: 0px 6px;
    display: flex;
    justify-content: center;
}

.field-label {
    font: 600 14px Arial;
    letter-spacing: .4px;
    color: #a6a6a6;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}