.field-item {
    padding: 6px 4px;
    border-radius: 3px;
}

.field-item:hover {
    background-color: hsla(0,0%,100%,.1);
}

.logic-label {
    padding: 4px 4px;
    color: #fff;
    pointer-events: auto;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-color: hsla(0,0%,100%,.1);
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.6px;
    cursor: pointer;
}

.logic-button {
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial;
    color: #fff;
    cursor: pointer;
    margin-right: 8px;
    background-color: rgba(40, 43, 48,1);
    height: 18px;
    width: 60px;
    display: flex;
    align-items: center;
}

.logic-button:hover {
    background-color: hsla(0,0%,100%,.1);
}

.add-condition {
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial;
    color: #fff;
    cursor: pointer;
    margin-right: 8px;
    background-color: rgba(40, 43, 48,1);
    height: 18px;
    width: 60px;
    display: flex;
    align-items: center;
}

.ion-ios-fastforward {
    cursor: pointer;
}