.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404854;
}

.App-logo {
  height: 80px;
  margin-bottom: 10px;
}

.login-view {
  height: 60vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-box {
  height: 18px;
  width: 250px;
  padding: 6px 12px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;

  text-align: start;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-rendering: auto;
}

.login-button {
  height: 25px;
  padding: 6px 12px;
  width: 250px;
  display: inline-block;
  border-radius: 3px;
  letter-spacing: 1px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  background-color: #f6f6f6;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #d6d6d6;
}