.list-item {
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.selected-list-item {
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.property-button {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial;
    color: #fff;
    cursor: pointer;
    background-color: rgba(40, 43, 48,1); 
    margin-bottom: 4px;
    margin-right: 8px;
}