.dashboard-view {
    display: flex;
    flex-direction: column;
    flex: 0.85;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.dashboard-subtitle {
    font: 500 16px Arial;
    color: #999;
    margin-top: 4px;
    white-space: pre;
    text-align: center;
}