.create-modal {
    display: flex;
    flex-direction: column;
    min-width: 600;
    width: 45vw;
}

.create-modal-view {
    display: flex;
    flex-direction: row;
}

.create-input {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid rgba(37, 39, 44, 1);
    border-radius: 4px;
    padding: 10px 10px;
    margin-bottom: 12px;
    font: 450 14px Arial;
    color: #c6c6c6;
    cursor: pointer;
    background-color: #2a2f2f;
    cursor: text;
}
.create-input:focus {
    outline: none;
    border: 2px solid #555;
}