.playground {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 80px;
    justify-content: center;
    align-items: center;
}
.playground-title {
    font: 600 11px Arial;
    color: #aaa;
    letter-spacing: 0.6px;
    padding: 0px 14px 6px 14px;
    text-transform: uppercase;
    position: absolute;
    top: 8px;
    left: 0px;
}
.playground-erase {
    font: 600 11px Arial;
    color: #aaa;
    padding: 0px 14px 6px 14px;
    text-transform: uppercase;
    position: absolute;
    top: 8px;
    right: 0px;
    display: flex;
    flex-direction: row;
}
.playground-children {
    position: absolute;
    width: 100%;
    height: 100%;
}
.playground-left {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}
.playground-right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}

.playground-constant {
    background-color: rgba(60, 63, 68,1);
    border: none;
    border-radius: 4px;
    padding: 3px 6px 3px 6px;
    font: 300 12px Arial;
    color: #d6d6d6;
    cursor: text;
    transition: .3s width ease-in-out;
    text-align:right;
    position: relative;
}
.playground-constant:focus {
    outline: none;
}