.accessibilityOutline:focus {
    box-shadow: 0 0 0 4px #778AA688;
    outline: 0;
}
.accessibilityOutlineFocus {
    box-shadow: 0 0 0 4px #778AA688;
    outline: 0;
}

.--text-underline:hover {
    text-decoration: underline;
}

.--header {
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(47, 49, 54, 1);
}

.--footer {
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    background-color: rgba(47, 49, 54, 1);
}

.--body {
    display: flex;
    flex-direction: column;
    min-width: 20px;
}
.--onclick {
    cursor: pointer;
}
.--onclick:hover {
    filter: brightness(120%);
}
.--disabled {
    cursor: not-allowed;
}
.--disabled * {
    pointer-events: none;
}
.--bubble {
    padding: 4px 8px;
    border-radius: 8px;
    margin: 2px;
}