.accessibilityOutline:focus {
    box-shadow: 0 0 0 4px #778AA688;
    outline: 0;
}

.--text-underline:hover {
    text-decoration: underline;
}

.--footer {
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    background-color: rgba(47, 49, 54, 1);
}

.--body {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
}