.form-input {
    background-color: hsla(0,0%,100%,.1);
    border: none;
    height: 28px;
    position: relative;
    padding: 4px 7px;
    line-height: 16px;
    font: 400 13.3333px Arial;
    border-radius: 3px;
    color: #f6f6f7;
}

.form-input:focus {
    outline: none;
}