.--icon-hover:hover {
    color: #fff;
}
.--icon-black {
    color: #fff;
}
.--icon-darkgrey {
    color: #666;
}
.--icon-grey {
    color: #999;
}
.--icon-lightgrey {
    color: #bbb;
}
.--icon-whitish {
    color: #ddd;
}