.--logic-button {
    height: 1.4em;
    display: flex;
    align-items: center;
    max-width: 200px;
    flex-wrap: nowrap;
}
.--logic-button-onclick {
    cursor: pointer;
}
.--logic-button-onclick:hover {
    filter: brightness(120%);
}
.--logic-button-lightgrey {
    background-color: #424650;
}
.--logic-button-grey {
    background-color: #424650;
}
.--logic-button-darkgrey {
    background-color: #424650;
}
.--logic-button-red {
    background-color: #B34B50;
}
.--logic-button-clear {
    background-color: transparent;
}
.--logic-button-black {
    background-color: #282b30;
}