.dashboard {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 60vh;
    overflow: auto;
}

.dashboard-results {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-right: 1px solid #464646;
}

.dashboard-edit {
    display: flex;
    flex-direction: column;
    padding: 8px 0px 0px 0px;
    width: 70%;
}

.dashboard-item {
    border-radius: 4px;
    background-color: rgba(47, 49, 54, 1);
    color: #a6a6a6;
    font: 400 12px Arial;
    padding: 12px 12px;
    margin: 4px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadein 0.25s, heightin 2s;
    cursor: pointer;
}

.dashboard-new-item:hover {
    background-color: rgba(75, 75, 80, 1);
}

.dashboard-item-title {
    color: #d6d6d6;
    font: 600 13px Arial;
    margin-bottom: 2px;
}

.underline-input {
    border: none;
    padding: 8px 0px;
    font: 450 14px Arial;
    color: #d6d6d6;
    background-color: rgba(54, 57, 64);
    cursor: text;
    border: 0;
    border-bottom: 1px solid #666;
}

.underline-input:focus {
    outline: none;
    border-bottom: 1px solid #a6a6a6;
}

.text-box {
  border-radius: 2px;
  padding: 10px 10px;
  font: 450 14px Arial;
  color: #c6c6c6;
}

.string-edit-box {
    min-height: 6vh;
    max-height: 10vh;
    overflow-y: scroll;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashboard-section-title {
    font: 600 11px Arial;
    color: #969696;
    letter-spacing: 0.6px;
    padding: 0px 14px 6px 14px;
}

.empty-text {
    padding: 4px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666666;
    font: 500 13px Arial;
}