body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Arial", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  outline-style: none;
}

div[highlight]:hover {
    background-color: hsla(0,0%,100%,.1);
    cursor: pointer;
}

div[empty] {
  color: #666666
}

div[contentEditable] {
  border-radius: 2px;
  background-color: rgba(47, 49, 54, 1);
  padding: 10px 10px;
  font: 450 14px Arial;
  color: #c6c6c6;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  cursor: text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

input[type=checkbox] {
  margin-right: 8px;
}

textarea {
  border: none;
  border-radius: 2px;
  background-color: rgba(47, 49, 54, 1);
  padding: 10px 10px;
  font: 450 14px Arial;
  color: #c6c6c6;
  width: 45%;
  outline: none;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  z-index: 1;
  cursor: text;
}

.app-onclick {
  cursor: pointer;
}
.app-onclick * {
  pointer-events: none;
}
.drop-down-menu-option > i {
  pointer-events: none;
}