
.event-modal {
    display: flex;
    flex-direction: column;
    min-width: 600;
    width: 75vw;
    height: 60vh;
}

.event-bar {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-right: 1px solid #464646;
    padding: 10px 0px;
}

.event-playground {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-top: 10px;
    border-right: 1px solid #464646;
}

.event-playground-view {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 70%;
}

.event-playground-item-case {
    display: flex;
    flex-direction: row;
}
.event-playground-item {
    border-radius: 4px;
    padding: 6px 10px;
    font: 300 13px Arial;
    background-color: rgba(40, 43, 48,1);
    cursor: pointer;
}

.event-var {
    border-radius: 4px;
    padding: 6px 10px;
    font: 300 13px Arial;
    background-color: rgba(40, 43, 48,1);
    margin-bottom: 6px;
    cursor: pointer;
    margin-right: 6px;
    color: #ddd;
}
.event-function {
    border-radius: 4px;
    padding: 6px 10px;
    font: 300 13px Arial;
    background-color: #992600;
    margin-bottom: 6px;
    cursor: pointer;
    margin-right: 6px;
    color: #fff;
}

.event-detailer {
    width: 5px;
    flex-grow: 1;
    padding: 10px 0px;
}
.event-color-picker {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 10px;
}
.event-color-drag {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 1.6em;
    width: 1.6em;
    border-radius: 2px;
    margin-right: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.event-color-drag:hover {
    border: 2px solid #ddd;
}

.dashboard-edit {
    display: flex;
    flex-direction: column;
}

.dashboard-item {
    border-radius: 4px;
    background-color: rgba(47, 49, 54, 1);
    color: #bbb;
    font: 600 23px Arial;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.7em;
    width: 1.7em;
}

.dashboard-item:hover {
    background-color: rgba(75, 75, 80, 1);
}

.dashboard-item-title {
    color: #d6d6d6;
    font: 600 13px Arial;
}

.dashboard-input {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    font: 450 14px Arial;
    color: #c6c6c6;
    cursor: pointer;
    background-color: transparent;
    cursor: text;
    width: 100%;
    border-top: 1px solid #464646;
    overflow-y: hidden;
    resize: none;
}
.dashboard-input:focus {
    outline: none;
}

.text-box {
  border-radius: 2px;
  padding: 10px 10px;
  font: 450 14px Arial;
  color: #c6c6c6;
  align-content: flex-start;
}

.text-box > pre {
    font: 450 14px Arial;
    color: #c6c6c6;
    margin: 0px;
}

.string-edit-box {
    min-height: 6vh;
    max-height: 10vh;
    overflow-y: scroll;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashboard-section-title {
    font: 600 13px Arial;
    color: #d6d6d6;
    padding: 0px 14px 6px 14px;
}

.empty-text {
    padding: 4px 15px;
    color: #666666;
    font: 500 13px Arial;
}

.string-var {
    color: #eee;
    border-radius: 4px;
    padding: 0px 6px;
    font: 300 13px Arial;
    align-self: flex-start;
    background-color: rgba(40, 43, 48,1);
}