.header {
  display: flex;
  flex-direction: row;
  padding: 8px;
  background-color: rgba(54, 57, 64);
  align-items: center;
}

.path-separator {
  animation: fadein 0.25s;
  -webkit-animation: fadein 0.25s;
  padding: 0px 8px;
  color: #969696;
}

.header-input-container {
  padding: 6px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-icon {
  font-size: 22px;
  color: #ddd;
}
.header-input {
  border: none;
  border-bottom: 1px solid #888;
  padding: 4px 4px;
  font: 500 15px Arial;
  color: #c6c6c6;
  background-color: transparent;
  cursor: text;
}
.header-input:focus {
  outline: none;
}

.header-button {
  display: flex;
  padding: 6px 12px;
  margin-left: 8px;
  border-radius: 4px;
  font: 500 14px Arial;
  color: #fff;
  cursor: pointer;
  background-color: rgba(40, 43, 48,1);
}

.header-button:hover {
  background-color: hsla(0,0%,100%,.1);
}