.header-button {
    padding: 6px 8px;
    border-radius: 4px;
    font: 500 14px Arial;
    color: #d6d6d6;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.header-button:hover {
    background-color: hsla(0,0%,100%,.1);
    color: #fff;
}

.page {
    display: flex;
    flex-direction: column;
}

.page-content {
    padding: 40px 55px;
}

.page-header {
    padding: 8px 12px;
    position: sticky;
    top: 0;
    background-color: rgba(54, 57, 64);
    border-radius: 4px;
    z-index: 4;
}

.page-title-input {
    border: none;
    background-color: rgba(54, 57, 64);
    padding: 4px 7px;
    font: 600 27px Arial;
    color: #f6f6f7;
    margin-bottom: 20px;
}

.page-title-input:focus {
    outline: none;
}

.page-input {
    border: none;
    border-radius: 2px;
    background-color: transparent;
    padding: 10px 10px;
    font: 450 14px Arial;
    color: #c6c6c6;
    width: 80%;
    cursor: pointer;
}

.page-input:focus {
    outline: none;
    background-color: rgba(47, 49, 54, 1);
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    z-index: 1;
    cursor: text;
}