.page-content {
    padding: 4vh 4vw;
}

.page-title-input {
    border: none;
    background-color: rgba(54, 57, 64);
    padding: 4px 7px;
    font: 700 27px Segoe UI;
    color: #f6f6f7;
}

.page-title-input:focus {
    outline: none;
}

.page-input {
    border: none;
    border-radius: 2px;
    background-color: transparent;
    padding: 10px 10px;
    font: 450 14px Segoe UI;
    color: #c6c6c6;
    width: 80%;
    cursor: pointer;
}

.page-input:focus {
    outline: none;
    background-color: rgba(47, 49, 54, 1);
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    z-index: 1;
    cursor: text;
}