.home-view {
    background-color: rgba(54, 57, 64);
    display: flex;
    flex-direction: row;
    height: calc(100vh - 20px);
    width: 100vw;
}

.scrollable-y {
    overflow: auto;
    transition: color 0.3s;
    color: rgba(47, 49, 54);
    background-color: rgba(47, 49, 54);
}

.scrollable-y:hover {
    color: rgba(32, 34, 37, 1);
}

.scrollable-y::-webkit-scrollbar {
    width: 16px;
}

.scrollable-y::-webkit-scrollbar-thumb {
	background-clip: content-box;
    background: rgba(32, 34, 37, 1);
    border-radius: 8px;
    border: 4px rgba(47, 49, 54) solid;
	box-shadow: inset 0 0 0 10px;
}

.list-item {
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.selected-list-item {
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.property-button {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial;
    color: #fff;
    cursor: pointer;
    background-color: rgba(40, 43, 48,1); 
    margin-bottom: 4px;
    margin-right: 8px;
}