.home-view {
    background-color: rgba(54, 57, 64);
    display: flex;
    flex-direction: row;
    height: calc(100vh - 20px);
}

.header {
    padding: 8px;
    max-height: 30px;
    background-color: rgba(54, 57, 64);
}

.side-bar-view {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgba(47, 49, 54, 1);
}

.option-icon {
    font-size: 16px;
    color: #fff;
}

.scrollable-y {
    overflow: auto;
    transition: color 0.3s;
    color: rgba(47, 49, 54);
    background-color: rgba(47, 49, 54);
}

.scrollable-y:hover {
    color: rgba(32, 34, 37, 1);
}

.scrollable-y::-webkit-scrollbar {
    width: 16px;
}

.scrollable-y::-webkit-scrollbar-thumb {
	background-clip: content-box;
    background: rgba(32, 34, 37, 1);
    border-radius: 8px;
    border: 4px rgba(47, 49, 54) solid;
	box-shadow: inset 0 0 0 10px;
}

.list-item {
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.list-item-selected {
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
    background-color: hsla(0,0%,100%,.1);
    border-radius: 4px;
}

.selected-list-item {
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.property-button {
    padding: 6px 12px;
    border-radius: 4px;
    font: 500 13px Arial;
    color: #fff;
    cursor: pointer;
}

.path-separator {
    animation: fadein 0.25s;
    -webkit-animation: fadein 0.25s;

    padding: 0px 5px;
    color: #969696;
}
