.patch-container {
    flex: 1;
    padding: 8px 8px;
    display: block;
}

.patch-item {
    display: flex;
    flex-direction: column;
    float: left;
    width: 20vw;
    height: 18vw;
    border-radius: 6px;
    color: #fff;
    line-height: 1.2;
    font: 500 14px Arial;
    cursor: pointer;
    margin-right: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(40, 43, 48, 1);
    box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 2px 4px 2px;
}

.patch-item-footer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: flex-end;
    background-color: rgba(47, 49, 54, 1);
}

.patch-item-title {
    font: 600 17px Arial;
    color: #bbb;
    padding: 14px 14px;
    margin-right: auto;
    cursor: pointer;
    max-width: 60%;
}

.patch-item-input {
    display: block;
    font: 600 17px Arial;
    width: 100%;
    margin-right: auto;
    border: none;
    cursor: text;
    color: #d6d6d6;
    background-color: rgba(40, 43, 48, 1);
}
.patch-item-input:focus {
    outline: none;
    border-bottom: 1px solid #aaa;
}

.patch-item-option {
    color: #a6a6a6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px 8px;
    font-size: 20px;
}

.patch-item-option:hover {
    background-color: hsla(0,0%,100%,.1)
}

.patch-collapse {
    display: flex;
    flex-direction: row;
    padding: 0px 8px;
}

.patch-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.patch-list-drop {
    margin-top: 8px;
    min-height: 10vh;
}

.patch-list-item {
    padding: 12px 10px;
    border-radius: 4px;
    color: #d6d6d6;
    background-color: rgba(40, 43, 48,1);
    font: 550 14px Arial;
    pointer-events: auto;
    line-height: 1.2;
    box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 2px 4px 2px;
    margin-bottom: 10px;
    cursor: pointer;
}