.modal {
    animation: fadein 0.25s;
    -webkit-animation: fadein 0.25s;

    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(10, 10, 10, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title {
    padding: 2px 4px;
    font-size: 16px;
    font-weight: 520;
    letter-spacing: 0.6px;
    font-family: Arial;
    color: #fff;
}

.modal-subtitle {
    padding: 4px 4px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-family: Arial;
    color: #d6d6d6;
    align-items: flex-end;
}

.modal-options {
    padding: 16px 16px;
}

.modal-child {
    animation: scalein 0.25s;
    -webkit-animation: scalein 0.25s;

    border-radius: 4px;
    background-color: rgba(54, 57, 64);
    overflow: hidden;
}
