.modal {
    animation: fadein 0.25s;
    -webkit-animation: fadein 0.25s;

    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(10, 10, 10, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.close-window {
    height: 200px;
    width: 360px;
    border-radius: 4px;
    background-color: rgba(54, 57, 64);
}

.delete-role {
    height: 200px;
    width: 360px;
    border-radius: 4px;
    background-color: rgba(54, 57, 64);
}